.logo a {
    list-style-type: none;
    text-decoration: none;
    font-size: 2rem;
}
.navbar{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding-top: 15px ;
    /* background-color: yellow; */
}
.navlist_container{
    width: 50%;
}
.list{
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    cursor: pointer;
}
.list li:hover{
    border-bottom: 1px solid white;
    transition: 0.5s;
}
.anchorLinks{
    text-decoration: none;
}
.connect {
    padding: 1rem;
    font-size: 0.85rem;
    background-color: rebeccapurple;
    border-radius: 40px;
    background-color: #00DBDE;
    background-image: linear-gradient(315deg, #00DBDE 0%, #FC00FF 100%);
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    cursor: pointer;
}

